@model ConsultorioGeral.Models.Diagnostico

@{
    ViewData["Title"] = "Create";
}

<body id="page-give-classes">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="~/img/back.svg">
                </a>
                <img src="~/img/warning.svg">
            </div>

            <div class="header-content">
                <strong> Página de Diagnóstico </strong>
                <p> Preencha corretamente todos os campos corretamente para evitar problemas </p>

            </div>
        </header>

        <main>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create">

                                <fieldset>
                                    <legend> Diagnóstico do paciente </legend>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="textarea-block">
                                        <label asp-for="Descricao" class="control-label"></label>
                                        <textarea asp-for="Descricao" class="textarea-block"> </textarea>
                                        <span asp-validation-for="Descricao" class="text-danger"></span>
                                    </div>
                                    <div class="input-block">
                                        <input type="submit" value="Enviar" class="btn btn-primary" />
                                    </div>
                                    </fieldset>
                            </form>
                        </div>
                    </div>

                    <footer>
                        <a asp-action="Index">Back to List</a>
                    </footer>
                    </div>
                    </main>
        </div>
    </body>

                    @section Scripts {
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                    }
