@model ConsultorioGeral.Models.Consulta

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Consulta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Horário" class="control-label"></label>
                <input asp-for="Horário" class="form-control" />
                <span asp-validation-for="Horário" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dia" class="control-label"></label>
                <input asp-for="Dia" class="form-control" />
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sintomas" class="control-label"></label>
                <input asp-for="Sintomas" class="form-control" />
                <span asp-validation-for="Sintomas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicoEsp" class="control-label"></label>
                <input asp-for="MedicoEsp" class="form-control" />
                <span asp-validation-for="MedicoEsp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
