@model ConsultorioGeral.Models.Consulta
@using ConsultorioGeral.Enums

@{ ViewData["Title"] = "Editar | Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<body id="page-give-classes">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="~/img/back.svg">
                </a>
                <img src="~/img/warning.svg">
            </div>

            <div class="header-content">
                <strong> Edição </strong>
                <p> Atualizar cliente </p>

            </div>
        </header>

        <main>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <fieldset>
                            <legend> Dados da consulta </legend>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ConsultaId" />
                            <div class="input-block">
                                <label asp-for="Data" class="input-block"></label>
                                <input asp-for="Data" type="datetime" class="form-control" />
                                <span asp-validation-for="Data" class="text-danger"></span>
                            </div>
                            <div class="input-block">
                                <label asp-for="Sintomas" class="control-label"></label>
                                <input asp-for="Sintomas" type="text" class="form-control" />
                                <span asp-validation-for="Sintomas" class="text-danger"></span>
                            </div>
                            <div class="input-block">
                                <label asp-for="Cpf" class="control-label"></label>
                                <input asp-for="Cpf" class="form-control" />
                                <span asp-validation-for="Cpf" class="text-danger"></span>
                            </div>
                            <div class="select-block">
                                <label class="input-block">Especialidade</label>
                                <select id="select-especialidade" asp-items="Html.GetEnumSelectList<Especialidade>()">
                                    <option selected="selected" value="">Selecione a Especialidade</option>
                                </select>
                            </div>

                            <div class="select-block">
                                <label class="input-block">Médico</label>
                                <select asp-for="MedicoId" id="select-medicos">
                                    <option value="">Selecione o Médico</option>
                                </select>
                            </div>
                            </fieldset>
                            <div class="input-block">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </main>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
