<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>

    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />

    <link rel="stylesheet" href="~/bootstrap-4.5.3/LoginStyles/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/bootstrap-4.5.3/LoginStyles/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/bootstrap-4.5.3/LoginStyles/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="~/bootstrap-4.5.3/LoginStyles/vendor/animate/animate.css">
    <link rel="stylesheet" href="~/bootstrap-4.5.3/LoginStyles/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="~/bootstrap-4.5.3/LoginStyles/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" href="~/bootstrap-4.5.3/LoginStyles/vendor/select2/select2.min.css">
    <link rel="stylesheet" href="~/bootstrap-4.5.3/LoginStyles/css/util.css">
    <link rel="stylesheet" href="~/bootstrap-4.5.3/LoginStyles/vendor/daterangepicker/daterangepicker.css">


    <link rel="shortcut icon" href="~/img/icon.ico" />
    <link href="https://stories.freepik.com/app> Illustration by Freepik Stories " />
</head>
<body>

    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script src="~/bootstrap-4.5.3/LoginStyles/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/bootstrap-4.5.3/LoginStyles/vendor/bootstrap/js/popper.js"></script>
    <script src="~/bootstrap-4.5.3/LoginStyles/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/bootstrap-4.5.3/LoginStyles/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/bootstrap-4.5.3/LoginStyles/vendor/select2/select2.min.js"></script>
    <script src="~/bootstrap-4.5.3/LoginStyles/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/bootstrap-4.5.3/LoginStyles/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/bootstrap-4.5.3/LoginStyles/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/bootstrap-4.5.3/LoginStyles/js/main.js"></script>


</body>
</html>
