@model ConsultorioGeral.Models.Medico
@using ConsultorioGeral.Enums

@{ ViewData["Title"] = "Editar | Médico";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<body id="page-give-classes">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="~/img/back.svg">
                </a>
                <img src="~/img/warning.svg">
            </div>

            <div class="header-content">
                <strong> Cadastro de médico </strong>
                <p> Atualizar médico </p>

            </div>
        </header>

        <main>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <fieldset>
                            <legend> Seus dados </legend>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="MedicoId" />
                            <div class="input-block">
                                <label asp-for="Nome" class="input-block"></label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="input-block">
                                <label asp-for="Crm" class="input-block"></label>
                                <input asp-for="Crm" type="number" class="form-control" />
                                <span asp-validation-for="Crm" class="text-danger"></span>
                            </div>
                            <div class="select-block">
                                <label asp-for="Especialidade" class="select-block"></label>

                                <label asp-for="Especialidade" class="control-label"></label>
                                <select asp-for="Especialidade" asp-items="Html.GetEnumSelectList<Especialidade>()">
                                    <option selected="selected" value="">Selecione a Especialidade</option>

                                </select>
                                <span asp-validation-for="Especialidade" class="text-danger"></span>
                            </div>
                            <div class="input-block">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                            </fieldset>
                    </form>
                </div>
            </div>
            <footer>
                <div>
                    <a asp-action="Index">Exibir lista</a>
                </div>
            </footer>
        </main>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
