/* Inicio style.css*/
:root {
    --color-landing: #1e1829; /*#00995D;*/
    --color-btn-central: #f2f2f2;
    --color-background: #F0F0F7;
    --color-primary-lighter: #04D361;
    --color-primary-light: #2a8c48;
    --color-primary: #00AA7C;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #fbfbfb;
    --color-text-title: #35b951;
    --color-text-complement: #39982d;
    --color-text-base: #272727;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFF1;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    font-size: 60%;
    /* controle das medidas rem */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button, 
textarea {
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-text-base);
}

#container {
    width: 90vw;
    max-width: 700px;
}

@media(min-width:700px) {
    :root {
        font-size: 62.5%;
    }
}



/* Inicio header */

.page-header {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
}

    .page-header .top-bar-container {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 1.6rem 0;
    }

        .page-header .top-bar-container > img {
            height: 1.6rem;
        }

        .page-header .top-bar-container a {
            height: 3.2rem;
            transition: opacity 0.2s;
        }

            .page-header .top-bar-container a:hover {
                height: 3.2rem;
                transition: opacity 0.6s;
            }

    .page-header .header-content {
        width: 90%;
        margin: 3.2rem auto;
        position: relative;
    }

        .page-header .header-content strong {
            font: 700 3.6rem Archivo;
            line-height: 4.2rem;
            color: var(--color-title-in-primary);
        }

        .page-header .header-content p {
            max-width: 30rem;
            font-size: 1.6rem;
            line-height: 2.6rem;
            color: var(--color-text-in-primary);
            margin-top: 2.4rem;
        }

@media (min-width:700px) {
    .page-header {
        height: 340px;
    }

        .page-header .top-bar-container {
            max-width: 1100px;
        }

        .page-header .header-content {
            max-width: 740px;
            margin: 0 auto;
            flex: 1 1;
            padding-bottom: 48px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            .page-header .header-content strong {
                max-width: 350px;
            }
}

/* Inicio forms*/

.select-block label,
.input-block label,
.textarea-block label {
    font-size: 1.4rem;
    color: var(--color-text-complement);
}

.input-block input,
.select-block select,
.textarea-block textarea {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6 Archivo;
}

.textarea-block textarea {
    padding: 1.2rem 1.6rem;
    height: 16rem;
    resize: vertical;
}

/* Inicio page give classes */

#page-give-classes {
    margin-top: -32px;
    /*
    padding-top: 0;
    margin-left: -42.2%;
    overflow-x: hidden;
    width: auto;
        */
}
#page-give-classes #container {
    width: 100vw;
    height: 100px;

}

#page-give-classes .page-header .header-content {
    margin-bottom: 6.4rem;
}

#page-give-classes main {
    background: var(--color-box-base);
    width: 100%;
    max-width: 79rem;
    border-radius: .8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
}

#page-give-classes fieldset {
    border: none;
    padding: 0 2.4rem;
}

    #page-give-classes fieldset legend {
        font: 700 2.4rem Archivo;
        color: var(--color-text-title);
        margin-bottom: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid var(--color-line-in-white);
    }

        #page-give-classes fieldset legend button {
            background: none;
            border: 0;
            color: var(--color-primary);
            font: 700 1.6rem Archivo;
            cursor: pointer;
            transition: 0.2s;
        }

            #page-give-classes fieldset legend button:hover {
                color: var(--color-primary-dark);
                transform: translateY(-5px);
            }

    #page-give-classes fieldset + fieldset {
        margin-top: 6.4rem;
    }

#page-give-classes main fieldset .input-block + .input-block,
#page-give-classes main fieldset .input-block + .textarea-block,
#page-give-classes main fieldset .select-block + .input-block {
    margin-top: 2.4rem;
}

#page-give-classes main footer {
    padding: 4rem 2.4rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 6.4rem;
}

    #page-give-classes main footer p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: var(--color-text-complement);
    }

        #page-give-classes main footer p img {
            margin-right: 2rem;
        }

.schedule-item + .schedule-item {
    margin-top: 3.2rem;
    border-top: 1px solid var(--color-line-in-white);
    padding-top: 3.2rem;
}

#page-give-classes main footer button {
    width: 100%;
    height: 5.6rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s;
    margin-top: 3.2rem;
}

#page-give-classes main footer input {
    width: 180px;
    height: 5.6rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s;
}


    @media(min-width: 700px) {
        #page-give-classes #container {
            max-width: 100vw;
           
        }

        #page-give-classes {
            overflow-x: hidden;
            margin-top: -32px;
            padding-top: 0;
            margin-left: -42.2%;
            overflow-x: hidden;
            width: auto;
        }


        #page-give-classes .page-header .header-content {
            margin-bottom: 0;
        }

        #page-give-classes main fieldset {
            padding: 0 64px;
        }

        .schedule-item {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            column-gap: 1.6rem;
        }

            .schedule-item .input-block {
                margin-top: 0 !important;
            }

        #page-give-classes main footer button {
            margin-top: 0;
            width: 200px;
        }

        #page-give-classes main footer {
            padding: 40px 64px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    /* Inicio page landing */

/*
    #page-landing {
        background: var(--color-landing);
        margin-top: 50px;
    }
        */

#page-landing {
    background-color: #1e1829;
    margin-top: 50px;

}

        #page-landing #container {
            color: var(--color-text-in-primary);
        }

    .logo-container img {
        height: 10rem;
    }

    .logo-container {
        text-align: center;
        margin-bottom: 3.2rem;
    }

        .logo-container h2 {
            font-weight: 500;
            font-size: 3.6rem;
            line-height: 4.6rem;
            margin-top: 0.8rem;
        }

    .hero-image {
        width: 100%;
    }

    .buttons-container {
        display: flex;
        justify-content: center;
        margin: 3.2rem 0;
    }

        .buttons-container a {
            width: 15rem;
            height: 10.4rem;
            border-radius: 0.8rem;
            /*margin-right: 1.6rem;*/
            font: 700 2.4 Archivo;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: var(--color-button-text);
            transition: background 0.2s;
            margin-left: 10px;
        }

            .buttons-container a img {
                width: 3rem;
                margin-right: 2.4rem;
            }

            .buttons-container a.study {
                background: var(--color-primary-lighter);
            }

            .buttons-container a.give-classes {
                background: var(--color-primary-light);
                margin-right: 0;
            }

            .buttons-container a.study:hover {
                background: var(--color-primary-light);
            }

            .buttons-container a.give-classes:hover {
                background: var(--color-secondary-dark);
            }



    @media(max-width:699px) {
        :root {
            font-size: 40%;
        }
    }

    @media(min-width: 1100px) {
        #page-landing #container {
            max-width: 1100px;
            display: grid;
            grid-template-columns: 2fr 1fr 2fr;
            grid-template-rows: 350px 1fr;
            grid-template-areas: "proffy image image" "button button texting";
            column-gap: 87px;
            row-gap: 86px;
        }

        #page-landing{
            background-image: url(../img/imagem.png);
            background-size:100%;
            
        }

        .hero-image {
            display: none;
        }

        .logo-container {
            grid-area: proffy;
            text-align: initial;
            align-self: center;
            margin: 0;
        }

            .logo-container img {
                height: 100%;
            }

        .hero-image {
            grid-area: image;
        }

        .buttons-container {
            grid-area: button;
            justify-content: flex-start;
            margin: 0;
        }

        .button-connections {
            grid-area: texting;
            justify-self: end;
            font-size: 1.2rem;
        }
    }



    /*Modal*/

#escondido{
    display:none;
}