@model Consulta
@{
    ViewData["Title"] = "Consulta";
}

<body id="page-give-classes">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="~/img/back.svg">
                </a>
                <img src="#">
            </div>
            
            <div class="header-content">
                <strong> Marcar uma consulta </strong>
                <p>
                    Preencha todos os campos
                    para marcar sua consulta
                </p>
            </div>
        </header>

        <main>
            <form action="" id="create-class">
                <fieldset>
                    <legend> Seus dados </legend>

                    <div class="input-block">
                        <label asp-for="Horario" class="control-label"></label>
                        <input asp-for="Horario" type="time" class="form-control" />
                        <span asp-validation-for="Horario" class="text-danger"></span>
                    </div>
                    <div class="input-block">
                        <label asp-for="Dia" class="control-label"></label>
                        <input asp-for="Dia" type="date" class="form-control" />
                        <span asp-validation-for="Dia" class="text-danger"></span>
                    </div>
                    <div class="input-block">
                        <label asp-for="Sintomas" class="control-label"></label>
                        <input asp-for="Sintomas" type="text" class="form-control" />
                        <span asp-validation-for="Sintomas" class="text-danger"></span>
                    </div>
                    <div class="input-block">
                        <label asp-for="Cpf" class="control-label"></label>
                        <input asp-for="Cpf" class="form-control" />
                        <span asp-validation-for="Cpf" class="text-danger"></span>
                    </div>
                    <div class="select-block">
                        <label asp-for="MedicoEsp" class="control-label"></label>
                        <select asp-for="MedicoEsp" id="sexo" required>
                            <option value=""> Selecione uma opção </option>
                            <option value="1">Pediatra</option>
                            <option value="2">Clínico geral</option>
                            <option value="3">otorrinolaringologista</option>
                        </select>
                        <span asp-validation-for="MedicoEsp" class="text-danger"></span>
                    </div>

                </fieldset>


                <fieldset>

                    <legend>
                        Horários disponíveis
                       
                    </legend>
                    <div class="schedule-item">
                        <div class="select-block">
                            <label for="weekday"> Dia da semana </label>
                            <select name="weekday[]" required>
                                <option value="">Selecione uma opção</option>
                                <option value="0">Domingo</option>
                                <option value="1">Segunda</option>
                                <option value="2">Terça</option>
                                <option value="3">Quarta</option>
                                <option value="4">Quinta</option>
                                <option value="5">Sexta</option>
                                <option value="6">Sabádo</option>

                            </select>
                        </div>

                        <div class="input-block">
                            <label for="time_from"> Horário </label>
                            <input type="time" name="time_from[]" required>
                        </div>


                    </div>

                </fieldset>
            </form>

            <footer>

                <p>
                    <img src="~/img/warning.svg" alt="aviso">
                    Importante! <br>
                    Preencha todos os dados
                </p>
                <input type="submit"
                       class="btn btn-sucess"
                       value="Finalizar cadastro" />
                <a asp-action="Index" class="btn btn-info">Retornar consultas </a>

            </footer>


        </main>
    </div>
</body>