@model ConsultorioGeral.Models.Paciente

@{
    ViewData["Title"] = "Editar | Paciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body id="page-give-classes">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="~/img/back.svg">
                </a>
                <img src="~/img/warning.svg">
            </div>

            <div class="header-content">
                <strong> Edição </strong>
                <p> Atualizar cliente </p>

            </div>
        </header>

        <main>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <fieldset>
                            <legend> Seus dados </legend>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="PacienteId" />
                            <div class="input-block">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="input-block">
                                <label asp-for="Cpf" class="control-label"></label>
                                <input asp-for="Cpf" class="form-control" />
                                <span asp-validation-for="Cpf" class="text-danger"></span>
                            </div>
                            <div class="input-block">
                                <label asp-for="Idade" class="control-label"></label>
                                <input asp-for="Idade" class="form-control" />
                                <span asp-validation-for="Idade" class="text-danger"></span>
                            </div>
                            <div class="input-block">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="select-block">
                                <label asp-for="Sexo" class="control-label"></label>
                                <select asp-for="Sexo" id="sexo" required>
                                    <option value=""> Selecione uma opção </option>
                                    <option value="1">Feminino</option>
                                    <option value="2">Masculino</option>
                                    <option value="3">Outro</option>

                                </select>

                                <span asp-validation-for="Sexo" class="text-danger"></span>
                            </div>
                            <div class="input-block">
                                <label asp-for="Endereco" class="control-label"></label>
                                <input asp-for="Endereco" class="form-control" />
                                <span asp-validation-for="Endereco" class="text-danger"></span>
                            </div>
                            <div class="input-block">
                                <label asp-for="Cep" class="control-label"></label>
                                <input asp-for="Cep" class="form-control" />
                                <span asp-validation-for="Cep" class="text-danger"></span>
                            </div>
                            <div class="input-block">
                                <label asp-for="Telefone" class="control-label"></label>
                                <input asp-for="Telefone" class="form-control" />
                                <span asp-validation-for="Telefone" class="text-danger"></span>
                            </div>
                        </fieldset>
                        <footer>
                            <div class="input-block">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                            <div>
                                <a asp-action="Index">Exibir lista</a>
                            </div>
                        </footer>
                    </form>
                </div>
            </div>

            </main>
        </div>
    </body>
            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
