@{
    ViewData["Title"] = "Clinica Geral";
}

<body id="page-landing">
    <div id="container">
        <div class="logo-container">
            <img src="images/logo.svg" alt="Logo">
            <h2> Uma plataforma para marcar consultas </h2>
        </div>
        <img class="hero-image" src="~/img/Online Doctor-bro.svg" alt="Plataforma de estudos">

        <div class="buttons-container">
            <a class="study"
               asp-area="" asp-controller="Paciente" asp-action="Index">
                Cadastrar
            </a>

            <a class="give-classes"
               asp-area="" asp-controller="Consulta" asp-action="Create">
                Marcar consulta
            </a>
            <a class="study"
               asp-area="" asp-controller="Medico" asp-action="Index">
                Médicos
            </a>
        </div>

    </div>


</body>

